<footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <p>
                © 2020 Andrei Bindasov ®™ <br>
                Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a><br>
                Technologies used : 
                <img class="" src="../../static/assets/images/python.png" alt="Python" style="width:9.3rem;">
                <img class="" src="../../static/assets/images/flask.png" alt="Flask" style="width:9.3rem;">
                <img class="" src="../../static/assets/images/html5-js.png" alt="HTML5 JS" style="width:6.3rem;">
            </p>
        </div>
      </div>
    </div>
  </footer>